@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800&display=swap ');
@import url('viewport.css');
@media screen and (max-width: 500px){
    nav{
        background-color: rgba(43, 222, 79, 0.722);
        box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315);
        display: flex;
        justify-content: space-around;
    }
}
body{
    font-family: 'Poppins', Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.051);
    margin: 0;
}
header{
    background-color: white;
    padding: 20px 10px;
    margin: 40px 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.384 );
}
header img{
    width: 70px;
    float: left;
    margin: 10px 10px;
}

nav{
    background-color: rgba(43, 222, 79, 0.722);
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315);
    display: flex;
}
nav a{
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.034);
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
    margin-right:10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.121);
    font-size: larger;

}
nav a:hover{
    background-color: rgb(43, 195, 76);
    transition: background .5s;
}
nav a:first-child{
    margin-left: 15px;
}
main{
    background-color: white;
    padding: 10px;
    padding-bottom: 50px;
    margin: 40px 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.384 );

}
article{
    background-color: rgba(30, 255, 0, 0.192);
    padding: 5px;
    border-radius: 10px;
}
article aside{
    background-color: rgba(84, 255, 46, 0.284);
}
footer{
    background-color: rgba(0, 0, 0, 0.458);
    color: white;
    padding: 4px;
    margin: 0px 10px;
    display: flex;
    justify-content: center; 
}
footer p{
    margin: 20px;
}
footer a{
    color: white;
}
