@import url('global.css');
#menu-h ul{
    list-style: none;
    padding: 0;
    background-color: rgb(133, 133, 141);

}

#menu-h ul li{
    display: inline;
}

#menu-h ul li a{
    color: white;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover{
    background-color: var(--verde-principal);
}

#menu-h ul li:last-child a{
    float: right;   
    background-color: var(--verde-principal);
    text-align: center;
    padding-left: 18px;

}

main{
    height: fit-content;
    background-color: #616161;
}
.form-group{
    text-align: center;
}
form{
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
textarea{
    height: 30vh;
    width: 70vw;
    resize: none;
}
#divButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4vh 0;
}
#divButton button{
    padding: auto;
    height: 30px;
    width: 30px;
    margin: 5px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button__anamnese{
    margin: 5px;
    border-radius: 4px;
    height: 20px;
    border-color: #616161;
    box-shadow: none;
    height:5vh; 
    width: 30vh
}

#formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

